@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  background-color: #fff; 
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  width: 60px;
}

.logo-image {
  width: 100%;
  margin-left: 20px;
}

.nav-menu {
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
}

.nav-item {
  margin-right: 25px;
}

.nav-item:last-child {
  margin-right: 10px;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: #000;
  position: relative;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #000;
  bottom: -2px;
  left: 0;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

.nav-item.active .nav-link {
  position: relative;
}

.nav-item.active .nav-link::after {
  width: 100%;
}

.bagian1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    margin-top: 125px;
    margin-bottom: 100px;
}   
  
h1.judul {
    font-family: 'Poppins', sans-serif;
    color: #0d141a;
    font-size: 64px;
    font-weight: 600;
    margin-bottom: 20px;
}
  
p.body {
    font-family: 'Poppins', sans-serif;
    color: rgb(86, 88, 94);
    font-size: 19px;
}

.section-layout{
    margin-left: 10px;
    margin-right: 10px;
}

.section-header h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    color: rgb(46, 47, 50);
    text-align: left;
    margin-bottom: 0px;
}
  
.deskripsi {
    margin-bottom: 40px;
    margin-top: 0;
}
  
.deskripsi p {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    color: rgb(86, 88, 94);
    text-align: left;
    padding: 0%;
}
  
.fitur1 {
    display: flex;
    margin-bottom: 50px;
}
  
.fitur1 img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
}
  
.fitur1-deskripsi {
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    margin-top: 0;
}
  
.fitur1-deskripsi h4{
    font-size: 30px;
    margin-bottom: 0;
}
  
.fitur2 {
    display: flex;
}
  
.fitur2 img{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-right: 20px;
}

.fitur2-deskripsi {
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    margin-top: 0;
}
  
.fitur2-deskripsi h4{
    font-size: 30px;
    margin-bottom: 0;
}

p.deskripsi-fitur {
    color: rgb(86, 88, 94);
}