@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*{ 
  padding: 0px;
  margin: 0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 60px;
}

.logo-image {
    width: 100%;
    margin-left: 150px;
    margin-top: 10px;
}

.nav-menu {
    display: flex;
    margin-right: 150px;
    margin-top: 10px;
    font-size: 17px;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-item {
    margin-right: 30px;
}

.nav-item:last-child {
    margin-right: 10px; /* Menghilangkan jarak setelah item terakhir */
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: #000;
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.nav-item.active .nav-link {
    position: relative;
}

.nav-item.active .nav-link::after {
    width: 100%;
}

body {
    padding-top: 60px;
}

.content {
  position: relative;
  width: 100%;
  height: 500px; 
  background-image: url('/images/image1.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.content-img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.hero-text {
  position: absolute;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

.hero-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-desc {
  font-size: 18px;
}

.layanan {
  background-color: #24d7ff;
  padding: 50px 0;
  text-align: center;
  width: 100%;
  height: 500px;
}

.h2 {
  font-family: 'Poppins';
  font-size: 20px;
}

.layanan-isi {
  font-family: 'Poppins';
  margin-bottom: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  z-index: 1;
}

.card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
}

.card-content {
  padding-top: 15px;
}

.card-title {
  font-family: 'Poppins';
  color: #333;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.card-text {
  font-family: 'Poppins';
  color: #555;
  font-size:  0.7em;
  line-height: 1.5;
}

.testimoni {
  padding: 150px;
  background-color: #4e94df;
  width: 80%;
  text-align: center;
  padding-top: 20vh;
  height: 150px;
}

.star-rating {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.review {
  font-family: 'Poppins';
  color: #fff;
  font-size: 15px;
}

.author {
  font-family: 'Poppins';
  color: #fff;
  font-size: 12px;
  margin-top: 40px;
}

.author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 5px;
}

.footer {
  background-color: #000000;
  padding: 100px 0;
  text-align: left;
  color: #fff;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-icons {
  display: flex;
  margin-bottom: 20px;
}

.social-icons a {
  margin: 0 10px;
  font-size: 20px;
  color: #fff;
}

.copyright {
  font-size: 14px;
  padding: 50px 0;
  text-align: left;
}